
torchvision==0.10.1
torch==1.9.1
numpy~=1.19.5
thop~=0.1.1.post2209072238
tensorboard~=2.14.0
seaborn~=0.11.1
pandas~=1.1.5
scikit-image~=0.17.2
pyyaml~=6.0
pillow~=10.4.0
gdown~=5.2.0
tqdm~=4.66.5
pyqt5~=5.15.6
playsound~=1.2.2
opencv-python-headless==4.5.5.64 #Using for run app.py
#opencv-python==4.5.5.64 #Using for run_video.py and detect_video.py

